    body,
    html,
    * {
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        box-sizing: border-box;
    }
    
    #slider {
        background: url(images/Covering-4.png);
        width: 100%;
        height: 668px;
        position: relative;
    }
    
    #bnt_right {
        height: 55px;
        width: 10px;
        right: 10;
        top: 10;
        position: absolute;
    }
    
    .right {
        position: absolute;
        top: 25.1%;
        right: 0px;
        width: 700px;
        height: 500px;
    }
    
    .right:hover {
        opacity: 1;
    }
    /*------------- titre-----------*/
    
    .entete_titre {
        background: #f00a3f;
        text-align: center;
        color: #f7f6f6 padding: 40px padding: 40px;
        position: absolute;
        top: 50%;
        line-height: normal;
    }
    
    .entete_titre h1 {
        font: size 40px;
        line-height: normal;
    }
    
    #rs {
        position: absolute;
        text-align: center;
    }
    
    .ente {
        margin: 5px;
    }